{
    "ProjectName": "{{PROJECT_NAME}}",
    "Tests": {"Native": {"Root": "Tests/Native"}},
    "ModuleDirs": {
        "{{PROJECT_NAME}}": "Source/Runtime/{{PROJECT_NAME}}"
    },
    "BaseModules": [
        "{{PROJECT_NAME}}"
    ]
}
